@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

body{
   background-image: url('back.png'); 
   background-size: 1380px;
}

h1{
    text-align: center;
    color: rgb(61, 51, 52);
    padding-top: 10px;
}

p{
    text-align: center;
    margin-bottom: -15px;
    color: rgb(61, 51, 52);
}

.main{
    background-color: white;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 20vh;
    border-radius: 10px;
    box-shadow: -10px 10px rgb(61, 51, 52);
}

.campo{
    margin-left: 50px;
}

#lapela1{
    background-color: rgb(61, 51, 52);
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    margin-right: 5px;
}

#lapela2{
    background-color: rgb(61, 51, 52);
    color: white;
    padding: 4px 11px;
    border-radius: 6px;
    margin-right: 5px;
}

#email{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#senha{
    width: 250px;
    height: 30px;
}

#login{
    width: 300px;
    height: 40px;
    margin-top: 40px;
    text-align: center;
    margin-left: 50px;
    font-size: 25px;
    border: none;
    background-color: rgb(61, 51, 52);
    border-radius: 10px;
    color: white;
}

#login:hover{
    background-color: rgb(241, 88, 88);
    transition: 0.2s ease-in-out;
}